<div class="navbar bg-base-100">
  <div class="flex-1">
    <a
      class="btn btn-ghost text-xl"
      routerLink=""
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      >Map Implementations</a
    >
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <a
          routerLink="/page1"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Vegetation Map - DataWA</a
        >
      </li>
      <li>
        <a
          routerLink="/page2"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Soil and Landscape Grid of Australia</a
        >
      </li>
      <li>
        <details>
          <summary>More infos</summary>
          <ul class="p-2 bg-base-100 rounded-t-none">
            <li><a>Link 1</a></li>
            <li><a>Link 2</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
